[submodule "frontend"]
	path = frontend
	url = git@github.com:ypollet/Sphaeroptica-Frontend.git
[submodule "photogrammetry"]
	path = photogrammetry
	url = git@github.com:ypollet/Sphaeroptica-Photogrammetry.git
[submodule "data"]
	path = data
	url = git@github.com:ypollet/Sphaeroptica-Data.git
